:root {
    --bg-color: #0c0c0c;
    --text-color: #ffffff;
    --card-bg: #1a1a1a;
    --accent-color: #f92c2c;
}
.light-theme {
    --bg-color: #ffffff;
    --text-color: #000000;
    --card-bg: #f4f4f4;
    --accent-color: #d32f2f;
}

#page-title, #race {
  color: rgba(255,24,0,255);
}

.opening-line {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Montserrat', 'sans-serif';
}

.race-card {
  background-color: var(--card-bg);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button,
select {
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  margin: 0.5rem 0;
}

button {
  background-color: rgb(255,24,0,255);
}

select {
  background-color: var(--card-bg);
}

button:hover, select:hover {
  opacity: 0.9;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

.top-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; /* space between button and selector */
  flex-wrap: wrap; /* responsive on smaller screens */
  margin: 1rem 0;
}

.theme-toggle button,
.timezone-select select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

label {
  margin-right: 0.5rem;
}